<title>{{ batch.reaction.name }}</title>

<p>Опис синтезу:
    {{ batch.description }}
</p>

{% if batch.substances.all %}
    <p>Інформація про речовини:
        {% for batch_substance in batch.substances.all %}
            {{ batch_substance.substance.name }}: {{ batch_substance.mass }} грамів {% if not forloop.last%}      
            {% endif %}
        {% endfor %}
    </p>
{% else %}
    <p>Інформації про речовини не знайдено! </p>
{% endif %}

<a href="{% url 'chembook:batch_edit' batch.reaction.id batch.id %}">Редагувати бетч</a>
<a href="{% url 'chembook:batch_delete' batch.reaction.id batch.id %}">Видалити бетч</a>
<a href="{% url 'chembook:reaction_details' batch.reaction.id %}">Назад до реакції</a>