<title>{{ reaction.name }}</title>

{% if reaction.substances.all %}
    <p>Речовини: 
        {% for substance in reaction.substances.all %}
            {{ substance.name }}{%if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
{% else %}
    <p>Речовин немає</p>
{% endif %}

<p>Опис реакції:
    {% if reaction.description %}
    {{ reaction.description }}
    {% else %}
    Опису немає
    {% endif %}
</p>

{% if reaction.batches.all %}
<p>Бетчі:
    {% for batch in reaction.batches.all %}
        <a href="{% url 'chembook:batch_details' reaction.id batch.id %}">Batch {{ batch.id }}</a>
    {% endfor %}
</p>
{% endif %}

<a href="{% url 'chembook:batch_create' reaction.id %}">Додати новиий синтез</a>

<a href="{% url 'chembook:reaction_edit' reaction.id %}">Редагувати реакцію</a>
<a href="{% url 'chembook:reaction_delete' reaction.id %}">Видалити реакцію</a>
<a href="{% url 'chembook:reaction_list' %}">Назад до списку реакцій</a>