<title>{{ synthesis.name }}</title>

{% if synthesis.pathways.all %}
    <p>Шляхи синтезу: <br/>
        {% for pathway in synthesis.pathways.all %}
            <a href="{% url 'chemhub:pathway_edit' synthesis.id pathway.id%}">{{ pathway.id }}:</a> 
            {% if pathway.stages.all %} <br/>
                {% for stage in pathway.stages.all %}
                    <a href="{% url 'chembook:reaction_details' stage.reaction.id %}"> {{ stage.reaction.name }}</a>
                    {% if not forloop.last %} <br/>
                    {% endif %}
                {% empty %}
                    <p>Стадій немає</p>
                {% endfor %}
            {% endif %}
            {% if not forloop.last %}<br/>{% endif %}
        {% endfor %}
    </p>

{% else %}
    <p>Шляхів синтезу немає</p>
{% endif %}

<a href="{% url 'chemhub:pathway_create' synthesis.id %}">Створити новий шлях синтезу</a>

<p>Опис синтезу:
    {% if synthesis.description %}
        {{ synthesis.description }}
    {% else %}
        Опису немає
    {% endif %}
</p>